body{
background-color: azure;
font-size: 14px;
margin: auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
margin: 0;
font-size: 32px;
}

p {
font-size: 16px;
margin-top: 10px;
}

#content-article {
background-color: bisque;
border: 1px solid #ddd;
padding: 20px;
margin-bottom: 20px;
}

#main-header {
background-color: aquamarine;
text-align: center;
padding: 20px;
}

#main-header h1 {
margin: 0;
font-size: 32px;
}

#main-header p {
    font-size: 16px;
    margin-top: 10px;
}

#content-article h2 {
color: #333;
font-size: 24px;
margin-bottom: 10px;
}

#content-article p {
color: #666;
font-size: 16px;
line-height: 1.5;
}

header{
color: aliceblue;
background-color: black;
font-size: 20px;
text-decoration: dotted;
padding: 1em;
}


nav {
    background-color: goldenrod;
    padding: 0.7em;
}

nav ul {

    list-style: none;
    padding: 0;
    margin: 0;
}

.top-menu li {
    display: inline-block;
    margin-right: 20px;
}

.top-menu a {
    text-decoration: none;
    color: rgb(219, 16, 16);
    font-weight: bold;
}

.top-menu a:hover {
    color: rgb(1, 12, 1);
}

img {
    max-width: 250px;
}
h2{


}

p{


}


img{

}
section {

}
footer {
background-color: black;
color: aliceblue;
padding: 1em;
}
.h2spe{
    background-color: blue;
    color: aliceblue;
}