body{
background-color: azure;
font-size: 14px;
margin: auto;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header{
color: aliceblue;
background-color: black;
font-size: 20px;
text-decoration: dotted;
padding: 1em;
}


nav {
    background-color: goldenrod;
    padding: 0.7em;
}

nav ul {

    list-style: none;
    padding: 0;
    margin: 0;
}

.top-menu li {
    display: inline-block;
    margin-right: 20px;
}

.top-menu a {
    text-decoration: none;
    color: rgb(219, 16, 16);
    font-weight: bold;
}

.top-menu a:hover {
    color: rgb(1, 12, 1);
}

img {
    max-width: 250px;
}
h2{


}

p{


}


img{

}
section {

}
footer {
background-color: black;
color: aliceblue;
padding: 1em;
}
.h2spe{
    background-color: blue;
    color: aliceblue;
}